{% extends "::base.html.twig"%}
{% block body %}
    <h2>Lista de produtos</h2>
    <table class="table">
      <thead>
          <tr>
              <th>
                  ID
              </th>
              <th>
                  Nome
              </th>
              <th>
                  Descrição
              </th>
          </tr>
      </thead>
      <tbody>
          {% for produto in produtos %}
          <tr>
              <td>
                  {{ produto.id }}

              </td>
              <td>
                  {{ produto.name }}
              </td>
              <td>
                  {{ produto.description }}
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}
