{% extends '::base.html.twig' %}

{% block body %}
  <div class="container-fluid panel panel-primary">
    <header class="panel-heading">
      <h1>Novo Produto</h1>
    </header>
    <section class="panel-body">
      <form class="form" action="{{ path('produto_create') }}" method="post">
          <div class="form-group">
            {{ form_widget(form) }}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{{ path('produto') }}" class="btn btn-danger">Voltar</a>
          </div>
      </form>
    </section>
  </div>
{% endblock %}
