{% extends 'CodeCodeCarBundle:Default:layout.html.twig' %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Tabela de carros</h2>    
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cars %}
                    <tr>                        
                        <td> {{ item.marca }}  </td>
                        <td> {{ item.modelo }}  </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>       
    </div>
{% endblock %}