<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Symfony Marca de Carros</title>
</head>
<body>
    <p>Você escolheu o modelo de carro <strong>{{modelo}}</strong> da marca <strong>{{marca}}</strong>.</p>
</body>
</html>